<%= simple_form_for [:admin, @category, @work] do |f| %>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.all.map{ |c| [c.name, c.id] }, {}, :class => "form-control" %>
  </div>

  <div class="group">
    <%= f.input :name %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  
<% end %>

<script>
  $("#work_category_id").select2( { theme: "bootstrap"} );
</script>
