<div class="col-md-12">

  <h2><%= @category.name %></h2>

  <div class="group">
    <%= link_to("New Work", new_admin_category_work_path(@category), class: "btn btn-default pull-right")%>
  </div>

  <table class="table">
    <tr>

      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
      <th></th>
    </tr>
    <% @works.each do |work| %>
      <tr>

        <td><%= link_to(work.name, admin_category_work_path(@category)) %></td>
        <td class="markdown">
          <%= markdown(work.description) %>
        </td>
        <td>
            <%= link_to("Edit", edit_admin_category_work_path(@category, work), class: "btn btn-sm btn-default")%>
            <%= link_to("Delete", admin_category_work_path(@category, work),    class: "btn btn-sm btn-default",
                        method: :delete, data: { confirm: "Are you sure?" } )%>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="text-center">
    <%= will_paginate @works %>
  </div>

</div>
