<div class="col-md-12">

  <h2><%= @category.name %></h2>

  <table class="table">
    <thead>
      <tr>
         <th>文章</th>
         <th>评论</th>
         <th>发表时间</th>
       </tr>
    </thead>
    <tbody>
       <% @works.each do |work| %>
        <tr>
          <td><%= link_to(work.name, category_work_path(@category, work)) %></td>

          <td class="markdown">
            <%= markdown(work.description) %>
          </td>
          <td><%= work.created_at %></td>
        </tr>
       <% end %>
    </tbody>
  </table>

</div>

<div class="text-center">
  <%= will_paginate @works %>
</div>
