<!DOCTYPE html>
<html>
<head>
  <title>web007erSo 后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "common/admin.navbar" %>
    <%= render "common/flashes" %>
    <div class="btn-group btn-group-justified">
      <a href="/admin/categories" class="btn btn-primary">Categories</a>
      
      <a href="/admin/users" class="btn btn-primary">Users</a>
      <a href="/admin/groups" class="btn btn-primary">Groups</a>

    </div>
    <%= yield %>
  </div>
</body>
</html>
